body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	background: rgb(20,20,20);
	flex-direction: column;
	margin: 0;
}

.main {
	font-size: larger;
	color: lightgrey;
	background-color:rgb(34,34,34);
	border-radius: 5px;
	padding: 1px 20px;
	width: 500px;
	text-align: center;
}

label {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
	color: lightgrey;
	font-weight: bold;
}

input {
	color: rgb(59, 59, 59);
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid rgb(59, 59, 59);
	border-radius: 5px;
}

button {
	padding: 15px;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	color: lightgray;
	cursor: pointer;
	background-color: rgb(59, 59, 59);
	width: 100%;
	font-size: 16px;
}